.grievance-dialog-lg{
  width: 95vw;
  max-width: 1000px !important;
}

.requirement-dialog{
  width: 95vw;
  max-width: 1000px !important;
}

.cart-dialog{
    width: 95vw;
    max-width: 1200px !important;
   // margin: 10px;
  }

 .help-dialog{
      width: 95vw;
      max-width: 700px !important;
     // margin: 10px;
    }
   .billing-dialog{
      width: 95vw;
      max-width: 700px !important;
    }
    .congrats-dialog{
        width: 95vw;
        max-width: 750px !important;
       // margin: 10px;
      }
     
     
        .confirm-dialog{
          width: 95vw;
          max-width: 500px !important;
         // margin: 10px;
        }
        .congrats-dialog{
            width: 95vw;
            max-width: 750px !important;
          }
          .success-dialog{
            width: 75vw;
            max-width: 650px !important;
          }
          .upgrade-dialog{
            width: 95vw;
            max-width: 700px !important;
          }
          .signup-dialog{
              width: 95vw;
              max-width: 800px !important;
             // margin: 10px;
            }
            .quote-dialog-lg{
              width: 95vw;
              max-width: 1000px !important;
            }
            .enquiry-dialog{
                width: 95vw;
                max-width: 1000px !important;
               // margin: 10px;
              }
              .seller-dialog{
                width: 95vw;
                max-width: 800px !important;
              }
              .login-dialog{
                  width: 95vw;
                  max-width: 800px !important;
                 // margin: 10px;
                }
                .forget-dialog{
                    width: 95vw;
                    max-width: 700px !important;
                   // margin: 10px;
                  }
                  .error-dialog{
                      width: 95vw;
                      max-width: 500px !important;
                     // margin: 10px;
                    }
                  