.texture-image {
  background: transparent
    linear-gradient(148deg, #ff15cc 0%, #9617c7 41%, #0019bf 100%) 0% 0%
    no-repeat padding-box;
  height: 35vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 0px;
  left: 0px;
  width: 100%;
}
.check-img {
  width: 100%;
}
@media screen and (max-width: 780px) {
  .texture-image {
    height: 20vh;
  }
  .check-img {
    width: 50%;
  }
}
.mdc-dialog .mdc-dialog__content{
  padding: 0px !important;
}
mat-dialog-content{
  min-height: 600px;
}
.mat-mdc-dialog-content {
  padding: 0px !important;
}
.btn-close-4 {
  color: white !important;
}
