.form-control {
  border: none;
}
.contact-card {
  box-shadow: 0px 10px 10px #00000029;
  height: 180px;
}
.contact-icon {
  position: absolute;
  top: -45px;
  text-align: center;
  // left: 38%;
}
.space-up-down {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.contant-img {
  position: absolute;
  right: -98px;
  display: block;
}
@media screen and (max-width: 820px) {
  .contant-img {
    position: absolute;
    right: -44px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .left-s{
    // height: 100%;
     width: 100% !important;
     display: grid;
     place-content: center;
   }
   .right-s{
    display: flex;
     justify-content: center; 
     width: 100% !important;
   }
  .mt-5 {
    margin-top: 1rem !important;
  }
  .space-up-down {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .contant-img {
    display: none;
  }
  .panel {
    background-color: #0019bf;
    width: auto !important;
    color: white;
    text-transform: uppercase;
    padding: 20px;
  }
}
@media screen and (max-width: 580px) {
  .space-up-down {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}
.sec{
  background-color: #0019bf;
}
.left-s{
 // height: 100%;
  width: 60%;
  display: grid;
  place-content: center;
}
.right-s{
 display: flex;
  justify-content: center; 
  width: 40%;
}
.panel {
  background-color: #0019bf;
  width: auto;
  color: white;
  text-transform: uppercase;
  padding: 30px;
}
.about-panel {
  background-color: black;
  color: white;
}
.custom-img-about {
  position: relative;
}
.strip-a {
  width: 5px;
  background-color: #ff15cc;
  height: 360px;

  position: absolute;
  top: 26px;
  right: 22px;
}
.custom-img-about img {
  height: 360px;
  width: 240px;
}
.custom-img-about {
  box-shadow: #00000012 0 1px 2px, #00000012 0 2px 4px, #00000012 0 4px 8px,
    #00000012 0 8px 16px, #00000012 0 16px 32px, #00000012 0 32px 64px;
  width: 300px;
  border-radius: 20px;
}
.write-hr {
  height: 3px !important;
  border: none;
  width: 85px;
  opacity: 1;
  background-color: red;
}
.prompt-hr {
  height: 4px !important;
  border: none;
  width: 85px;
  opacity: 1;
  background-color: white;
}
