/* .breadcrumb {
  border-bottom: 3px solid var(--text-muted);
} */
a {
  font-size: 1.25rem;
  font-weight: 600;
}
.col-md {
  flex: 1 0 20%;
}
.btn-light-r {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  color: var(--primary-color) !important;
  font-size: 20px;
  padding: 0px;
  width: 60%;
}
.btn-light-l {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  color: var(--primary-color) !important;
  font-size: 20px;
  padding: 0px;
  width: 60%;
}
.w-20 {
  width: 20%;
}
.cart-img {
  height: 200px;
  width: 200px;
}
.close-b {
  position: absolute;
  top: 0px;
  border-radius: 30px;
  right: 0px;
}
@media screen and (max-width: 990px) {
  .cart-img {
    height: 150px;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .cart-img {
    width: auto;
  }
}
