
<div class="card-wrapper mt-3 px-3">
  <ng-container>
    <div class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
      <div class="row py-4"
           *ngIf="list.length > 0">
        <div class="col-6 col-6 col-lg-3 mt-3"
             *ngFor="let item of list">
          <a  [routerLink]="['/product-details/', item.sellerProductId]">
            <div class="p-0">
              <div class="sub-card-bg rounded-3"
                   role="button"
                  >
                <div class="d-flex justify-content-end align-items-center ">
                  <div class="star mx-1 display-5 mt-1 ">
                    <i class="fa-star text-secondary"
                       [ngClass]="item.rating >= 1 ? 'fa-solid' : 'fa-regular'">
                    </i><i class="fa-star text-secondary ms-1"
                       [ngClass]="item.rating >= 2 ? 'fa-solid' : 'fa-regular'"></i>
                    <i class="fa-star text-secondary ms-1"
                       [ngClass]="item.rating >= 3 ? 'fa-solid' : 'fa-regular'"></i>
                    <i class="fa-star text-secondary ms-1"
                       [ngClass]="item.rating >= 4 ? 'fa-solid' : 'fa-regular'"></i>
                    <i class=" fa-star text-secondary ms-1"
                       [ngClass]="item.rating >= 5 ? 'fa-solid' : 'fa-regular'"></i>
                  </div>
                </div>
                <div class="card-image-div">
                  <img [src]="item.image"
                  alt="item.title"
                  class="bg-loading"
                  appImage404>
                </div>
  
              </div>
              <div class="text-center p-1">
                <div class="title-div">
                 <a [routerLink]="['/product-details/', item.sellerProductId]" role="button">
                  <span 
                  >{{item.title}}</span>
                 </a>
  
                </div>

                <button class="btn btn-info rounded-pill display-4 mt-2"
                        (click)="sendEnquiry(item)">Send Enquiry</button>


                <button (click)="addToCartAndOpenCartModal(item)"
                                        class="btn btn-info rounded-pill display-4 mt-2" 
                                        *ngIf="from_pdtsearch == true">Get Multiple Quotes</button>


              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="row py-4"
         *ngIf="loading == true">
      <h3 class="text-primary text-center my-5">
        Loading ...
      </h3>
    </div>
  </ng-container>
  <ng-container>
    <div class="row py-4"
         *ngIf="loading == false && list.length == 0">
      <h3 class="text-primary text-center my-5">
        No Result found
      </h3>
    </div>
  </ng-container>
</div>