table tr td {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}
.form-select {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.min-w-120 {
  min-width: 120px;
}
.min-w-172 {
  min-width: 172px;
}
.min-w-308 {
  min-width: 308px;
}
table {
  background: transparent;
  box-shadow: none;
}