<div class="col-md-12 mt-3 mx-auto">

  <div class="row mb-3">
    <div class="col-lg-8 col-6"></div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card-wrapper rounded-pill p-2">
        <div class="d-flex search-box-bg form-group rounded-pill w-100">
          <input class="form-control border-0 rounded-pill  me-2"
                 (keyup)="doFilter($event)"
                 (search)="reset($event)"
                 type="search"
                 placeholder="Search"
                 aria-label="Search">
          <button class="btn btn-primary"
                  type="submit"><i class="fa-solid fa-magnifying-glass px-2 text-white"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-scroll">
      <table mat-table
             matSort
             [dataSource]="requirements"
             (matSortChange)="announceSortChange($event)"
             class="mat-elevation-z8">
        <ng-container matColumnDef="SrNo">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Sr. No.</th>
          <td mat-cell
              *matCellDef="let element; let i = index;"> {{i+1}}. </td>
        </ng-container>

        <ng-container matColumnDef="requirementNo">
          <th class="text-primary min-w-172"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Requirement Id</th>
          <td mat-cell
              *matCellDef="let element">{{element.requirementNo}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Requirement Title</th>
          <td mat-cell
              *matCellDef="let element">{{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Category</th>
          <td mat-cell
              *matCellDef="let element">{{element.categoryName ? element.categoryName : element.category}}</td>
        </ng-container>

        <ng-container matColumnDef="subCategories">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Sub Category</th>
          <td mat-cell
              *matCellDef="let element">
            <ng-container *ngFor="let subCategory of element.subCategories;let i = index">
              {{subCategory}}<span *ngIf="i+1 != element.subCategories.length">,</span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPriceEstimation">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Price</th>
          <td mat-cell
              *matCellDef="let element">{{element.totalPriceEstimation | currency: 'INR'}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Quantity</th>
          <td mat-cell
              *matCellDef="let element">{{element.quantity}} {{element.unit}}</td>
        </ng-container>
        <ng-container matColumnDef="created">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header>Created</th>
          <td mat-cell
              *matCellDef="let element">{{element.createdDate | date:'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="button">
          <th class="text-primary"
              mat-header-cell
              *matHeaderCellDef>Action</th>
          <td mat-cell
              *matCellDef="let element">
            <button class="btn-primary rounded-pill py-2 px-3 display-4 min-w-120 nowrap"
                    [routerLink]="['/seller-requirement-details',element.requirementId]">
              View Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row"
            *matNoDataRow>
          <td class="mat-cell text-center"
              [attr.colspan]="displayedColumns.length">
            No data found.
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
