.form-control {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.w-13 {
  width: 130px;
}
@media screen and (max-width: 780px) {
  .w-13 {
    width: 130px;
  }
}
